.logo img{
    height: 56px;
    margin-left: 140px;
    margin-top:2px;
    position: absolute;
}
 nav{
    margin-left: 40%;
    font-size: 16px;
    margin-top: 30px;
    
    
    
}
nav a{
    text-decoration: none;
    margin-left: 44px;
    color:white;
    padding:5px;
    
}
button{
    margin-left:44px;
}
nav a:hover{
    background-color: black;
}


